HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/application-dev.yml

### generated ###
/src/main/generated/

### catboost ###
catboost_info/
*.pyc
/src/main/python/__pycache__
src/main/python/__pycache__/AIMain.cpython-311.pyc
src/main/python/__pycache__/AIMain.cpython-311.pyc
src/main/python/__pycache__/Chatbot.cpython-311.pyc
*.pyc
